*{
    font-family: 'Courier New', Courier, monospace;
}
body {
    
    background-image: linear-gradient(45deg, rgb(231, 104, 104),
     rgb(148, 40, 40));
}
main{
    background-color: aliceblue;
    box-shadow: 5px 5px 5px rgb(87, 9, 9);
    width: 550px;
    height: 620px;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
}
h1{
    text-align: center;
}

h2{
    color: rgb(66, 16, 16);
}
p{
    text-align: justify;
}