@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

:root{
    --wallpaperDegrade: linear-gradient(-200deg, #ABF8E7, #8778C7);
    --corFundo: rgb(240, 245, 255);
    
    --cor1: #ABF8E7;
    --cor2: #ccabd8;
    --cor3: #d1b1dd73;
    --cor4: #6a5592;
    --corLinks: #6a5592;

    --font-monospace:'Courier New', Courier, monospace;
    --font-texto:'JetBrains Mono', monospace;;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    
    background-image: var(--wallpaperDegrade);
    height: auto;
}

main {
    background-color: var(--corFundo);
    height: auto;
    margin: 50px auto 125px auto;
    max-width: 800px;
    padding: 10px 30px;
    border-radius: 8px;
    box-shadow: 2px 5px 5px #d1b1dd73;
    font-family: var(--font-texto);
}

h1.especial {
    font-family: var(--font-monospace);
    color: #8474A1;
    text-shadow: 2px 5px 5px #ccabd8;
    margin: 20px 0px;
}

h1 {
    margin-top: 50px;
}


h2, h3, h4, h5 {
    margin: 15px 0px;
}

hr {
    margin: 30px 0px;
}

p.texto {
    text-align: justify;
}